<application-nav-bar></application-nav-bar>
<div style="margin: auto; padding: 10px; text-align: center;">
  <h2>Veldu tegund og erfiðleikastig leiks</h2>
  <div style="margin-top: 10px">
    <button mat-button  style="font-size: 15px; background: lavenderblush;" (click)="getData()">Sækja gögn</button>
    <mat-radio-group aria-labelledby="radio-group-label" class="typeofgame-radio-group" [(ngModel)]="chosentypeofgame">
      <mat-radio-button class="radio-button" *ngFor="let game of typeofgame" [value]="game">
        {{game==="letters"?"Stafir":game==="words"?"Orð":"Setningar"}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="difficulty" [ngStyle]="{'display': shouldDisplayDifficulty()}">
      <mat-radio-group display="none" aria-labelledby="radio-group-label" class="difficulty-radio-group"
        [(ngModel)]="chosendifficulty">
        <mat-radio-button class="radio-button" *ngFor="let difficulty of typeofdifficulty" [value]="difficulty">
          {{difficulty==="easy" ? "Auðvelt": "Miðlungs"}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    <div class="main-content" [ngStyle]="{'display': shouldDisplayMainContent()}">
      <div class="main-content-rows" style="display:block">
        <div class="main-content-rows-content">
          <mat-card class="example-card" *ngFor="let value of cardvalues; let i = index" [attr.data-index]="i">
            <mat-card-actions>
              <button (click)="deleteData(value.Dora.split('/')[value.Dora.split('/').length-1].split('_')[0],i)" mat-button>Eyða</button>
              <button (click)="updateData(value.Dora.split('/')[value.Dora.split('/').length-1].split('_')[0],i)" mat-button>Uppfæra</button>
            </mat-card-actions>
            <mat-card-content>
              <p>{{value.Text}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="playAudio(value.Karl)" mat-button>Karl</button>
              <button (click)="playAudio(value.Dora)" mat-button>Dora</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
</div>
