<application-nav-bar></application-nav-bar>
<div style="margin: auto; padding: 10px; text-align: center;">
    <h2>My Talking App</h2>
    <div>
      <textarea #userInput style="font-size: 15px; padding: 10px;" cols="60" rows="10"></textarea>
    </div>
    <div style="margin-top: 10px">
      <button style="font-size: 15px;" mat-button (click)="buildVoice(userInput.value)">Byggja</button>
    </div>
    <div style="margin-top: 10px">
      <button style="font-size: 15px;" (click)="listenNow(userInput.value)">Hlusta</button>
    </div>
    <div>
      <select [(ngModel)]="selectedGame">
        <option *ngFor="let game of typeOfGame" [ngValue]="game">{{game}}</option>
      </select>
      <select [(ngModel)]="selectedDifficulty">
        <option *ngFor="let difficulty of typeOfDifficulty" [ngValue]="difficulty">{{difficulty}}</option>
      </select>
    </div>
    <div style="margin-top: 10px">
      <button style="font-size: 15px;" (click)="speakNow(userInput.value)">Vista</button>
    </div>
</div>