<div class="listenbuildmodal">

  <h2 mat-dialog-title>Uppfæra hljóð og texta</h2>
  <mat-dialog-content class="mat-typography">
    <div class="main-content" style="display: block;">
      <div class="main-content-rows" style="display:flex;">
        <div class="main-content-rows-content">
          <mat-card class="example-card" *ngFor="let value of typesArr; let i = index" [attr.data-index]="i">
            <mat-card-content>
              <div *ngIf="value[0][0] !== '<'" class="mat-card-content-data">
                <div class="example-card-left">
                  <mat-card-actions class="example-card-action">
                    <button mat-button matTooltip="Hlusta á framburð Karls á orði" style="transform: scaleX(-1); width: 30%;" (click)="listenKarl(value,i)">
                      <app-svg-icon style="width: 20px;" name="ear"></app-svg-icon>
                    </button>
                    <div class="cardword">
                      <p>{{wordsplit[i]}}</p>
                    </div>
                    <button mat-button matTooltip="Hlusta á framburð Dóru á orði" style="width: 30%;" (click)="listenDora(value,i)">
                      <app-svg-icon style="width: 20px;" name="ear"></app-svg-icon>
                    </button>
                  </mat-card-actions>
                  <mat-card-actions class="change-word-action">
                    <mat-radio-group class="change-word-radio" [(ngModel)]="typeindex[i]">
                      <mat-radio-button matTooltip="Breyta framburði" class="change-word-radio-button"
                        *ngFor="let toggle of typesArr[i]; let j = index" [attr.data-index]="i" [value]="j"
                        [checked]="isToggle(i,j)" (change)="changeToggle(i,j)"></mat-radio-button>
                    </mat-radio-group>
                  </mat-card-actions>
                </div>
                <div class="example-card-right">

                  <mat-card-actions style="height:100%;">
                    <div class = "addSilentOrSound">
                      <button (click)="addSound(i)" mat-button matTooltip="Bæta við hljóð stafa" style="width: 80%; height: 80%; align-self: center;">
                        <app-svg-icon style="width: 20px; height: 20px;" name="lettersound"></app-svg-icon>
                      </button>
                      <button (click)="addSilent(i)" mat-button matTooltip="Bæta við þögn" style="width: 80%; height: 80%; align-self: flex-end;">
                        <app-svg-icon style="width: 20px; height: 20px;" name="pause"></app-svg-icon>
                      </button>
                    </div>
                  </mat-card-actions>
                </div>
              </div>
              <div *ngIf="value[0][0] + value[0][1] == '<b'" style = "display: flex; margin: auto; inline-size: min-content; background: #DAD56E; padding: 10px;">
                <app-svg-icon   class="mat-card-content-data"  name="breakimg"></app-svg-icon>
                <div class = "addSilentOrSound">
                  <button (click)="addSound(i)" mat-button matTooltip="Bæta við hljóð stafa" style="width: 80%; height: 80%; align-self: center;">
                    <app-svg-icon style="width: 20px; height: 20px;" name="lettersound"></app-svg-icon>
                  </button>
                  <button (click)="addSilent(i)" mat-button matTooltip="Bæta við þögn" style="width: 80%; height: 80%; align-self: flex-start;">
                    <app-svg-icon style="width: 20px; height: 20px;" name="pause"></app-svg-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="value[0][0] + value[0][1] + value[0][2] == '<pr'" style = "display: flex; margin: auto; inline-size: min-content; background: #CBC89A;">
                <mat-card-actions class="example-card-action">
                  <button style="transform: scaleX(-1); width: 30%;" mat-button matTooltip="Hlusta á framburð Karls á hljóðum stafa" (click)="listenKarl(value,i)">
                    <app-svg-icon style="width: 20px;" name="ear"></app-svg-icon>
                  </button>
                  <div class="cardword">
                    <p>{{wordsplit[i]}}</p>
                  </div>
                  <button mat-button matTooltip="Hlusta á framburð Dóru á hljóðum stafa" style="width: 30%;" (click)="listenDora(value,i)">
                    <app-svg-icon style="width: 20px;" name="ear"></app-svg-icon>
                  </button>
                </mat-card-actions>
                <div class = "addSilentOrSound">
                  <button (click)="addSound(i)" mat-button matTooltip="Bæta við hljóð stafa"  style="width: 80%; height: 80%; align-self: center;">
                    <app-svg-icon style="width: 20px; height: 20px;" name="lettersound"></app-svg-icon>
                  </button>
                  <button (click)="addSilent(i)" mat-button matTooltip="Bæta við þögn" style="width: 80%; height: 80%; align-self: flex-start;">
                    <app-svg-icon style="width: 20px; height: 20px;" name="pause"></app-svg-icon>
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="listenToSentenceDoraAfterBuild()" style="color: blue;">Hlusta á Dóru</button>
    <button mat-button (click)="listenToSentenceKarlAfterBuild()" style="color: red;">Hlusta á Karl</button>
    <button mat-button mat-dialog-close>Hætta</button>
    <button mat-button (click)="saveString()" cdkFocusInitial>Vista</button>
  </mat-dialog-actions>
</div>
