<amplify-authenticator [services]="services" initialState="signUp">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
  <!-- Below I will import the nav-bar.component and use it -->
  <application-nav-bar></application-nav-bar>
  <router-outlet></router-outlet>
  <div class = "buttongroup">
    <button type="button" [routerLink]="'get'" class="btn btn-primary">Skoða</button>
    <button type="button" [routerLink]="'add'" class="btn btn-success">Setja Inn</button>
  </div>
  <h2>Welcome, {{ user.email }}</h2>
  </ng-template>
</amplify-authenticator>
